<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <i class="fas fa-film mr-2"></i>
            Gajanand Motors
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li  class="nav-item">
                <a data-toggle="collapse" data-target="#navbarSupportedContent"  class="nav-link nav-link-1 {{link1}}" (click)="li1()">Cars</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link nav-link-2" href="videos.html">Videos</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link nav-link-3 {{link2}} "  data-toggle="collapse" data-target="#navbarSupportedContent" (click)="li2()"  >About</a>
            </li> -->
            <li class="nav-item " data-toggle="collapse" data-target="#navbarSupportedContent" >
                <a class="  nav-link nav-link-4 {{link3}} "  (click)="li3()" >Contact us</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
