ul{
    color: rgb(0, 115, 255);
    font-size: small;
}
.price{
    color: green;
}
.cars{
    cursor: pointer;
}
.tm-hero{
    background-color: aquamarine;
    background-image: url("../../../assets/img/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}