ul{
    color: rgb(0, 115, 255);
    font-size: small;
}
.price{
    color: green;
}
.cars{
    cursor: pointer;
    height: 363px;
}
.tm-hero{
    background-color: aquamarine;
    background-image: url("https://ik.imagekit.io/b4x27zdza/AnjaliMoters/assets/assets/img/photo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677559385354");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
