
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" >
    <form class="d-flex tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="card mb-4">

    <div class="card-body">
        <div class="container-fluid">
<div class="row">

<div class="  col-sm-6 col-lg-4 col-xl-3 mb-2 ">
    <div class="card cars w-100" routerLink="/buy-use-cars/abc">
        <img  style="height: 196px;" class="card-img-topimg-fluid"
            src="https://imgd.aeplcdn.com/640X480/cw/ucp/stockApiImg/L3MDGUM_fa59dc3b96f8424485f4e2c696979c9a_1_27550395.jpg?q=75" alt="Portfolio1">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2" >
                    <p>Used BMW X1 [2013-2016] in Bangalore </p >
                        <small class="text-right" >33,000KM</small>

                </div>
                <div class="d-flex  mb-2" >
                 <ul  >
                    <li> 4 Cylinders Inline</li>
                    <li>1st Owner</li>
                 </ul>
                 <ul  >
                    <li>Diesel</li>
                    <li>GJ-27</li>
                 </ul>
                </div>
            <div class="text-right price" >
                <p>₹1700000</p>
            </div>
        </div>
    </div>
</div>

<div class=" div col-sm-6 col-lg-4 col-xl-3 mb-2 ">
    <div class="card cars">
        <img style="height: 196px;" class="card-img-top img-fluid"
            src="https://fastly-production.24c.in/hello-ar/dev/uploads/05a36ef2-1642-473f-b1e7-1841d3dbfdf6/98f77b83-a9f0-43f1-94ca-5615963f7a02/42.jpg?w=690&auto=format" alt="Portfolio1">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2" >
                    <p>2016 Maruti Swift</p >
                        <small class="text-right" >56,234KM</small>

                </div>
                <div class="d-flex  mb-2" >
                 <ul  >
                    <li>LXI Manual</li>
                    <li>1st Owner</li>
                 </ul>
                 <ul  >
                    <li>PETROL</li>
                    <li>GJ-27</li>
                 </ul>
                </div>
            <div class="text-right price" >
                <p>₹500000</p>
            </div>
        </div>
    </div>
</div>
<div class=" div col-sm-6 col-lg-4 col-xl-3 mb-2 ">
    <div class="card cars">
        <img style="height: 196px;" class="card-img-top img-fluid"
            src="https://fastly-production.24c.in/hello-ar/dev/uploads/05a36ef2-1642-473f-b1e7-1841d3dbfdf6/98f77b83-a9f0-43f1-94ca-5615963f7a02/42.jpg?w=690&auto=format" alt="Portfolio1">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2" >
                    <p>2016 Maruti Swift</p >
                        <small class="text-right" >56,234KM</small>

                </div>
                <div class="d-flex  mb-2" >
                 <ul  >
                    <li>LXI Manual</li>
                    <li>1st Owner</li>
                 </ul>
                 <ul  >
                    <li>PETROL</li>
                    <li>GJ-27</li>
                 </ul>
                </div>
            <div class="text-right price" >
                <p>₹500000</p>
            </div>
        </div>
    </div>
</div>
<div class=" div col-sm-6 col-lg-4 col-xl-3 mb-2 ">
    <div class="card cars">
        <img style="height: 196px;" class="card-img-top img-fluid"
            src="https://fastly-production.24c.in/hello-ar/dev/uploads/05a36ef2-1642-473f-b1e7-1841d3dbfdf6/98f77b83-a9f0-43f1-94ca-5615963f7a02/42.jpg?w=690&auto=format" alt="Portfolio1">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2" >
                    <p>2016 Maruti Swift</p >
                        <small class="text-right" >56,234KM</small>

                </div>
                <div class="d-flex  mb-2" >
                 <ul  >
                    <li>LXI Manual</li>
                    <li>1st Owner</li>
                 </ul>
                 <ul  >
                    <li>PETROL</li>
                    <li>GJ-27</li>
                 </ul>
                </div>
            <div class="text-right price" >
                <p>₹500000</p>
            </div>
        </div>
    </div>
</div>
<div class="div  col-sm-6 col-lg-4 col-xl-3 mb-2 ">
    <div class="card cars">
        <img style="height: 196px;" class="card-img-top img-fluid"
            src="https://fastly-production.24c.in/hello-ar/dev/uploads/05a36ef2-1642-473f-b1e7-1841d3dbfdf6/98f77b83-a9f0-43f1-94ca-5615963f7a02/42.jpg?w=690&auto=format" alt="Portfolio1">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2" >
                    <p>2016 Maruti Swift</p >
                        <small class="text-right" >56,234KM</small>

                </div>
                <div class="d-flex  mb-2" >
                 <ul  >
                    <li>LXI Manual</li>
                    <li>1st Owner</li>
                 </ul>
                 <ul  >
                    <li>PETROL</li>
                    <li>GJ-27</li>
                 </ul>
                </div>
            <div class="text-right price" >
                <p>₹500000</p>
            </div>
        </div>
    </div>
</div>




</div>
        </div>
    </div>
</div>
