
<div class="card mb-4" >

    <div class="card-body ">
        <div class="container-fluid">
            <!-- <div class="d-flex justify-content-center " >  -->
            <div class="row">

                <div class=" col-sm-6 col-lg-5 col-xl-5 mb-5 ">
                    <!-- <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg" alt=""> -->
                    <p-galleria *ngIf="id==0; else loading" [value]="data" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{'max-width': '600px'}" [numVisible]="5">
                        <ng-template pTemplate="item" let-item>
                            <p-image [src]="item.previewImageSrc" [preview]="true" alt="Image" width="100%">
                              
                            </p-image>
                        </ng-template>
                        <ng-template class="marg" pTemplate="thumbnail" let-item>
                            <div class="grid grid-nogutter justify-content-center  ">
                                <img [src]="item.thumbnailImageSrc" class="img" />
                            </div>
                        </ng-template>
                    </p-galleria>
                    
                    <ng-template #loading>
                        <img  [src]="car.image" style="width: 100%;" />
                    </ng-template>

                </div>
                <div class="col  widgetBox">
                    <div >
                        <div class="pull-left"><span class="rupee_font font_20"
                                style="font-size: 25px !important; color: rgb(62, 55, 55); --darkreader-inline-color: #e8e6e3;"
                                data-darkreader-inline-color="">₹</span><span content="1775000"
                                style="font-size: 25px; font-weight: bold; color: rgb(0, 0, 0); margin-left: -0.14em; --darkreader-inline-color: #e8e6e3;"
                                data-darkreader-inline-color="">
                                17.75 Lakh</span></div><br>
               <h1 *ngIf="id==0;">Used BMW X1 [2013-2016] in Bangalore
            </h1>
               <h1 *ngIf="id!=0;">{{car.name}}
            </h1>
            
                    <div class="" style="margin-top:20px;position:relative">
                        <div style="margin: 10px; font-weight: bold; color: rgb(85, 85, 85); font-size: 14px; --darkreader-inline-color: #b2aca2;"
                            data-darkreader-inline-color="">CAR
                            DETAILS</div>
                        <table style="margin:10px; margin-left:20px; width:90%;" class="v_table" cellspacing="0"
                            cellpadding="5" align="center">
                            <tbody>
                                <tr>
                                    <td class="vt1"> <b>CITY</b>  </td>
                                    <td  *ngIf="id==0;" >Bangalore</td>
                                </tr>
                                <tr>
                                    <td class="vt1">FUEL TYPE</td>
                                    <td *ngIf="id==0;">Diesel</td>
                                    <td *ngIf="id!=0;">{{car.fuel}}</td>
                                </tr>
                                <tr>
                                    <td class="vt1">KMS Driven</td>
                                    <td *ngIf="id==0;">33,000 Kms</td>
                                    <td *ngIf="id!=0;">{{car.km}}</td>

                                </tr>
                                <tr>
                                    <td class="vt1">COLOUR</td>
                                    <td *ngIf="id==0;">Orange</td>
                                    <td *ngIf="id!=0;">{{car.color}}</td>

                                </tr>
                                <tr>
                                    <td class="vt1">NUMBER OF OWNERS</td>
                                    <td *ngIf="id==0;"> Second
                                    </td>
                                    <td *ngIf="id!=0;">{{car.number}}</td>

                                </tr>
                                <tr>
                                    <td class="vt1">INSURANCE TYPE</td>
                                    <td *ngIf="id==0;">Comprehensive</td>
                                    <td *ngIf="id!=0;">{{car.insurance}}</td>

                                </tr>
                                <tr>
                                    <td class="vt1">INSURANCE EXPIRY</td>
                                    <td > Not Available</td>
                                    
                                <tr>
                                    <td class="vt1">MANUFACTURING YEAR</td>
                                    <td *ngIf="id==0;">2013</td>
                                    <td *ngIf="id!=0;">{{car.year}}</td>

                                </tr>
                                <tr>
                                    <td class="vt1">REGISTRATION TYPE</td>
                                    <td > Not Available
                                    </td>
                             

                                </tr>
                                <tr>
                                    <td class="vt1">RTO LOCATION</td>
                                    <td >Not Available</td>
                                    

                                </tr>
                                <tr>
                                    <td colspan="2"
                                    style="border: medium none; text-align: left; --darkreader-inline-border-top: currentcolor; --darkreader-inline-border-right: currentcolor; --darkreader-inline-border-bottom: currentcolor; --darkreader-inline-border-left: currentcolor;"
                                    data-darkreader-inline-border-top="" data-darkreader-inline-border-right=""
                                    data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">
                                    <span><i> Listed on 21 February 2024</i></span></td>
                                    
                                </tr>
                                <tr>
                                    <td class="vt1"><button><a target="_blank" href="https://www.google.com/maps/place/Gajanand+auto+CONSULT/@23.0089752,72.6694281,18.02z/data=!4m12!1m5!3m4!2zMjPCsDAwJzMyLjYiTiA3MsKwNDAnMDguOSJF!8m2!3d23.0090556!4d72.6691389!3m5!1s0x395e878d2ccd2889:0x2eb166789d2f30b7!8m2!3d23.0091703!4d72.6693658!16s%2Fg%2F11l2y9__jc?entry=ttu">Location</a></button></td>
                                   
                                    

                                </tr>
                                <tr>
                                    <td class="vt1"><button (click)="placeOrder(500)">Pay ₹500</button></td>
                                   
                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
