.img{
    height: 60px !important;

}
// .marg{
//     margin-right: 10px;
// }
.completa{
    height: 1000px !important;
}
.widgetBox{
    // margin-top: 20px;
    padding: 10px;
position: relative;
border-radius: 4px;
box-shadow: #ccc 1px 2px 4px;
border: 1px solid #e5e5e5;
background: #fff;
}